<%- include('./partials/header.ejs') %>


<!-- Home -->

<section class="home">
    <div class="form_container">
        <i class="uil uil-times form_close"></i> 
        <!-- Login Form -->
        <div class="form login_form">
            <form action="/login" method="post">
                <h2>Login</h2>
                <div class="input_box">
                  <input type="text" placeholder="Enter your email" name="email" required>
                  <i class="uil uil-envelope email"></i>  
                </div>
                <div class="input_box">
                    <input type="password" placeholder="Enter your password" name = "password" required>
                    <i class="uil uil-lock password"></i>  
                    <i class="uil uil-eye-slash pw_hidden"></i>
                </div>

                <div class="option_field">
                    <span class="checkbox">
                        <input type="checkbox" id="check">
                        <label for="check">Remember me</label>
                    </span>
                </div>

                <button type="submit" class="button">Login Now</button>

                <div class="login_signup">
                    Don't have an account? <a href="#" id="signup">Sign Up</a>
                </div>
            </form>
        </div>

        <!-- Sign Up Form -->
        <div class="form signup_form">
            <form class="signup-form" action="/signup" method="post">
                <h2>Signup</h2>
                <div class="input_box">
                    <input type="text" placeholder="Enter full name" name="fullName" required>
                    <i class="uil uil-user user"></i>
                </div>
                <div class="input_box">
                  <input type="email" placeholder="Enter your email" name ="email" required>
                  <i class="uil uil-envelope email"></i>  
                </div>
                <div class="input_box">
                    <input type="password" placeholder="Create password" id="pw1" name="pw1"required>
                    <i class="uil uil-lock password"></i>  
                    <i class="uil uil-eye-slash pw_hidden"></i>
                </div>
                <div class="input_box">
                    <input type="password" placeholder="Confirm password" id="pw2" name="pw2" required>
                    <i class="uil uil-lock password"></i>  
                    <i class="uil uil-eye-slash pw_hidden"></i>
                </div>

                <button type="submit" class="button">Signup Now</button>
                <div class="alert alert-warning fail_hide" id="fail-alert"role="alert">
                    Signup failed! Passwords do not match.
                </div>

                <div class="login_signup">
                    Already have an account? <a href="#" id="login">Login</a>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="about-container">
    <div class="about-us container" id="about-us">
    <h2>About BookView</h2>
    <p>Welcome to BookView, your one-stop destination for book lovers! Here, you can easily <u>search and discover</u> a vast collection of books across various genres. Find your next literary adventure with BookView!</p>
    <p>So, whether you're seeking an enthralling tale to lose yourself in, a knowledge-packed non-fiction to enrich your mind, or simply want to discover new authors and genres, BookView is here to guide you on your literary adventure. Let your imagination run wild, and let the pages of the books you find here transport you to new worlds of wonder.</p>
    <p>At BookView, the joy of reading knows no bounds!</p>
</div>
</div>



<div class="contact-us" id="contact-us">

      <div class="col-md-4">
        <img src="/images/contact-us2.jpg" alt="Contact Image" class="img-fluid">
      </div>
      <div class="contact-text">
        <h2>Contact Us</h2>
        <div class="ph-no">
            <i class="uil uil-phone-alt"></i>
            <p>+9 1  8 4 7 2 8 2 x x x x</p>
        </div>
        <div class="email-add">
            <i class="uil uil-envelope-edit"></i>
            <p> anauksadas@yahoo.com</p>
        </div>
      </div>

  </div>
  






<%- include('./partials/footer.ejs') %>